DB_USER=db_username
DB_PASS=db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DATABASE_URL="postgresql://db_username:db_password@localhost:5432/db_name?schema=public"

JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECURE=false
